{% extends "portal/base.html" %}

{% block title %}Change Password - RICD Portal{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        <i class="fas fa-key"></i> Change Password
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="id_old_password" class="form-label">Current Password</label>
                                    <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="id_new_password1" class="form-label">New Password</label>
                                    <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="id_new_password2" class="form-label">Confirm New Password</label>
                                    <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul class="mb-0">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'portal:ricd_dashboard' %}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Change Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}