{% extends "portal/base.html" %}

{% block title %}Password Changed Successfully - RICD Portal{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        <i class="fas fa-check-circle text-success"></i> Password Changed Successfully
                    </h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <i class="fas fa-check-circle"></i> Your password has been changed successfully.
                        You can now use your new password to log in to the system.
                    </div>

                    <div class="text-center mt-4">
                        <a href="{% url 'portal:ricd_dashboard' %}" class="btn btn-primary btn-lg">
                            <i class="fas fa-home"></i> Go to Dashboard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}