.progress-bar {
  transition: width 0.5s ease-in-out;
}

.progress-bar-success {
  background-color: #28a745;
}

.progress-bar-info {
  background-color: #17a2b8;
}

.progress-bar-warning {
  background-color: #ffc107;
}

.progress-bar-danger {
  background-color: #dc3545;
}