{% extends "base.html" %}
{% load static %}

{% block title %}Contract: {{ contract.title }} - FNC{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ contract.title }}</h1>
    
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Project</dt>
                <dd class="col-sm-8">{{ contract.project.name|default:"-" }}</dd>
                
                <dt class="col-sm-4">Project Type</dt>
                <dd class="col-sm-8">{{ contract.get_project_type_display }}</dd>
                
                <dt class="col-sm-4">Status</dt>
                <dd class="col-sm-8">{{ contract.get_contract_status_display }}</dd>
                
                <dt class="col-sm-4">Created</dt>
                <dd class="col-sm-8">{{ contract.created_at|date:"d/m/Y" }}</dd>
            </dl>
        </div>
    </div>
    
    <div class="mt-3">
        <a href="{% url 'contracts:contract_edit' contract.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'contracts:contract_list' %}" class="btn btn-secondary">Back to List</a>
        <a href="{% url 'contracts:contract_delete' contract.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}