{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">{% if council %}Edit{% else %}Add{% endif %} Council</h1>
    
    <div class="card">
        <div class="card-body">
            <form method="post" class="row g-3">
                {% csrf_token %}
                <div class="col-md-6">
                    <label class="form-label">Council Name</label>
                    <input type="text" name="name" class="form-control" value="{{ council.name|default:'' }}" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Region</label>
                    <input type="text" name="region" class="form-control" value="{{ council.region|default:'' }}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">State Electorate</label>
                    <input type="text" name="state_electorate" class="form-control" value="{{ council.state_electorate|default:'' }}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Federal Electorate</label>
                    <input type="text" name="federal_electorate" class="form-control" value="{{ council.federal_electorate|default:'' }}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Contact Email</label>
                    <input type="email" name="contact_email" class="form-control" value="{{ council.contact_email|default:'' }}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Contact Phone</label>
                    <input type="text" name="contact_phone" class="form-control" value="{{ council.contact_phone|default:'' }}">
                </div>
                <hr>
                <div class="col-12">
                    <h5>RCPA Contact Details</h5>
                </div>
                <div class="col-md-4">
                    <label class="form-label">RCPA Contact Name</label>
                    <input type="text" name="rcpa_contact_name" class="form-control" value="{{ council.rcpa_contact_name|default:'' }}">
                </div>
                <div class="col-md-4">
                    <label class="form-label">RCPA Contact Phone</label>
                    <input type="text" name="rcpa_contact_phone" class="form-control" value="{{ council.rcpa_contact_phone|default:'' }}">
                </div>
                <div class="col-md-4">
                    <label class="form-label">RCPA Contact Email</label>
                    <input type="email" name="rcpa_contact_email" class="form-control" value="{{ council.rcpa_contact_email|default:'' }}">
                </div>
                <hr>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_registered_housing_provider" id="is_registered" 
                               {% if council.is_registered_housing_provider %}checked{% endif %}>
                        <label class="form-check-label" for="is_registered">
                            Registered Housing Provider
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'maintenance:council_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}